name: Compare function
on: 
  workflow_dispatch:
    inputs:
      greeting:
        type: choice 
        options:
          - info
          - warn
          - error
jobs:
  compare:
    runs-on: ubuntu-latest
    steps:
      - run: printenv | grep '_FUNC'
        env:
          CONTAINS_FUNC: ${{ contains('Hello', 'ell')}}
          START_WITH_FUNC: ${{ startWith('Hello', 'He')}}
          END_WITH_FUNC: ${{ endWith('Hello', 'lo')}}
              
          
