name: Debug log
on:
  workflow_dispatch:
    inputs:
      word:
        type: choice
        options:
          - yes
          - no  
jobs: 
  logs:  
    runs-on: ubuntu-latest
    steps:
      - run: echo "::debug::This is a debug log"
