name: General function
on: 
  workflow_dispatch:
    inputs:
      greeting:
        type: choice 
        options:
          - info
          - warn
          - error
jobs:
  generate:
    runs-on: ubuntu-latest
    steps: 
      - run: printenv | grep '_FUNC'
        env:
          FORMAT_FUNCTION: ${{ format('{0}, {1}.', 'Hi', 'World')}}
          JOIN_FUNCTION: ${{ join(github.event.*.html_url, ', ')}}
