name: Secrets
on: 
  workflow_dispatch:
    inputs:
      greeting:
        type: choice 
        options:
          - info
          - warn
          - error
jobs:
  print:
    runs-on: ubuntu-latest
    env:
      HOGE: ABCDEFG
    steps:  
      - run: echo "${HOGE} ${HOGE}"
