name: Secrets
on: 
  workflow_dispatch:
    inputs:
      greeting:
        type: choice 
        options:
          - info
          - warn
          - error
print:
  runs-on: ubuntu-latest
  env:
    HOGE: ABCDEFG
      -run echo "${HOGE}"
